[Unit]
Description=Setup Kaseya
After=network.target

[Service]
Type=oneshot
ExecStart=/root/KcsSetup.sh
RemainAfterExit=true
ExecStop=/root/KcsSetupSuccessful.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
